form{
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
  /* filter: drop-shadow(0 0 10px #000ba8); */
  box-shadow: 0 0 30px #250dfd;
  position: relative;
} 
form .input-group{
  filter: drop-shadow(0 0 1px #300e50);
}

form * {
  transition: all 0.1s ease-in;
}
form div div span i{
  color: blueviolet;
}

form .backgorund-c1{
  display: block;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: -1;
  left: 5px;
  top: 5px;
  background: #ffffff;
  border-radius: 20px;
}

form .backgorund-c2{
  display: block;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
  border-radius: 20px;
  background: #fffffff0;
  /* background: #b8b8b8 url('../../../assets/angularloge.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60% 60%; */
  z-index: -2;
}

form::after{
  content: '';
  display: block;
  width: 100%;
  height: 104%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -4;
  background: linear-gradient(0deg, transparent, transparent, #8a2be2, #8a2be2, #8a2be2);
  transform-origin: bottom right;
  animation-name: ground;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

form::before{
  content: '';
  display: block;
  width: 100%;
  height: 104%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -4;
  background: linear-gradient(0deg, transparent, transparent, #0d6efd, #0d6efd, #0d6efd);
  transform-origin: bottom right;
  animation-name: ground;
  animation-duration: 6s;
  animation-delay: -3s;
  animation-iteration-count: infinite;
}

@keyframes ground {
  0%{
    transform: rotate(0grad);
  }
  100%{
    transform: rotate(401grad);
  }
}

form h3{
  display: block;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}